---
export interface Props {
  image: string
  title: string
  description: string
  url: string
  urlEV: string
  urlGuide: string
  completed: boolean
  beta: boolean
  comingSoon: boolean
}

const {
  image,
  title,
  description,
  url,
  urlEV,
  urlGuide,
  completed,
  beta,
  comingSoon
} = Astro.props

import ButtonFill from './icons/ButtonFill.astro'
import ButtonBordered from './icons/ButtonBordered.astro'
---

<div
  class='w-full flex flex-col items-center justify-between gap-6 sm:flex-row'
>
  <aside class='w-auto'>
    <img
      width='300'
      height='170'
      class='max-w-none w-[300px] h-[180px] object-cover rounded-xl'
      src={image}
      alt={title}
    />
  </aside>
  <article
    class='w-full text-white flex flex-col items-start justify-center gap-3'
  >
    <h4 class='font-semibold text-3xl'>{title}</h4>
    <p class='font-extralight text-xs'>{description}</p>
    <div
      class='font-light text-xs text-white flex items-start justify-center gap-2'
    >
      {
        completed && (
          <span class='px-6 py-1 bg-[#ACACAC2c] rounded-full'>COMPLETO</span>
        )
      }
      {beta && <span class='px-6 py-1 bg-[#ACACAC2c] rounded-full'>BETA</span>}
      {
        comingSoon && (
          <span class='px-6 py-1 bg-[#ACACAC2c] rounded-full'>
            PRÓXIMAMENTE
          </span>
        )
      }
      {
        urlEV && (
          <span class='px-6 py-1 bg-[#ACACAC2c] rounded-full'>
            ENGLISH VERSION
          </span>
        )
      }
    </div>
    <div class='mt-2 text-xs flex items-start justify-center gap-4'>
      <ButtonFill url={url} label='DESCARGAR' disable={url} type='download' />
      <ButtonBordered url={urlGuide} label='GUÍA' disable={urlGuide} />
    </div>
  </article>
</div>

<style></style>
